* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(51, 51, 51);
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(51, 51, 51);
    color: white;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 40px;
}

#top {
    display: flex;
    background-color: rgb(83, 83, 83);
    height: 70vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.board {
    display: inline-flex;
    width: 500px;
    height: 500px;
    background-color: rgb(93, 93, 93);
}

.table-class {
    display: flex;
}

.cell {
    height: 162px;
    width: 162px;
    background-color: rgb(192, 192, 192);
    border: 1px solid rgb(192, 192, 192);
}

.cell:hover {
    background-color: rgb(218, 218, 218);
    transition: 200ms;
}